@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section class="page-header d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <img src="https://via.placeholder.com/300" class="rounded-circle mr-2" width="157" height="157" />
                    <img src="https://via.placeholder.com/300" class="rounded-circle mr-2" width="157" height="157" />
                    <img src="https://via.placeholder.com/300" class="rounded-circle mr-2" width="157" height="157" />
            </div>
        </div>
    </div>
</section>