@inherits Umbraco.Web.Mvc.UmbracoViewPage


<section class="footer">
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-md-6">
               <div class="row">
                  <div class="col-md-12">
                     <img src="/resources/img/FOF-Logo-Mobile.png" />
                  </div>
                  <div class="col-md-12 footer-spacing">
                     &copy; Derechos Reservados Russell Bedford International 2019                                
                  </div>
               </div>
               <div class="row mt">
                  <div class="col-md-12">
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-6">
               <div class="row text-md-right">
                  <div class="col-md-12 footer-xs-spacing"></div>
                  <div class="col-md-12 col-xs-6 footer-spacing">
                     <a href="https://itunes.apple.com/tt/app/russell-bedford-directory/id936603882?mt=8"><img class="apple" src="/resources/img/app_store_badge.svg" /></a>
                     <a href="https://play.google.com/store/apps/developer?id=Russell+Bedford+International"><img class="google" src="/resources/img/google-play-badge.png" /></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-md-6">
               <div class="row">
                  <div class="col-md-12 footer-spacing">
                     <ul class="footer-menu">
                        <li>
                           <a class="col-sm-4 col-md-4" href="http://www.russellbedfordcr.com/sitemap/" >Mapa de sitio</a>
                        </li>
                        <li>
                           <a class="col-sm-4 col-md-4" href="http://www.russellbedfordcr.com/legal/" >Legal</a>
                        </li>
                        <li>
                           <a class="col-sm-4 col-md-4" href="http://www.russellbedfordcr.com/internacional/" >Internacional</a>
                        </li>
                        <li>
                           <a class="col-sm-4 col-md-4" href="https://twitter.com/RussellBedford/" target=&#39;_blank&#39;>S&#237;guenos...</a>
                        </li>
                        <li>
                           <a class="col-sm-4 col-md-4" href="http://www.russellbedfordcr.com/contacto/" >Contactanos...</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-6">
               <div class="row">
                  <div class="col-md-12 footer-spacing">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</section>