@inherits Umbraco.Web.Mvc.UmbracoViewPage


<section class="header">
   <header class="d-none d-md-none d-lg-block">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="float-right">
                  <div class="dropdown">
                     <a class="btn dropdown-toggle" href="#" role="button" id="selectLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar Idioma</a>
                     <div class="dropdown-menu" aria-labelledby="selectLanguage">
                        <a class="dropdown-item" href="http://www.russellbedfordcr.com/">ES</a>
                        <a class="dropdown-item" href="http://www.russellbedfordcr.com/en/">EN</a>
                     </div>
                  </div>
                  <ul class="social-media list-inline p-0 m-0">
                     <li class="list-inline-item">
                        <a href="https://www.facebook.com/pages/Russell-Bedford-International/155824474453723/" class="facebook" target="_blank">
                           <i class="fab fa-facebook-f"></i>
                           </a
                     </li>
                     <li class="list-inline-item">
                     <a href="https://twitter.com/RussellBedford/" class="twitter" target="_blank">
                     <i class="fab fa-twitter"></i>
                     </a
                     </li>
                     <li class="list-inline-item">
                     <a href="https://plus.google.com/116689854181841697185/posts" class="google-plus" target="_blank">
                     <i class="fab fa-google-plus-g"></i>
                     </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/russell-bedford-international" class="linkedin" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a href="https://www.youtube.com/user/RussellBedfordGroup/" class="youtube" target="_blank">
                        <i class="fab fa-youtube"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <ul class="main-menu">
                  <li>
                     <a href="/nosotros">Nosotros</a>
                  </li>
                  <li>
                     <a href="/servicios">Servicios</a>
                     <div class="outer-menu">
                         <div class="main-menu-column">
                             <ul>
                                 <li>
                                     <a href="/servicios/auditoria-externa">Auditoria Externa</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/asesoria-financiera">Asesoria Financiera</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/impuestos">Impuestos</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/gestion-de-riesgo">Gestion de Riesgo</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/centro-de-apoyo-a-pymes">Centro de Apoyo a Pymes</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/capital-humano">Capital Humano</a>
                                 </li>
                                 <li>
                                     <a href="/servicios/outsourcing">Outsourcing</a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                  </li>
                  <li>
                     <a href="/noticias">Noticias</a>
                  </li>
                  <li>
                     <a href="/publicaciones">Publicaciones</a>
                  </li>
                  <li>
                     <a href="https://www.russellbedford.com/">Internacional</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </header>
</section>