@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section class="link-circles ">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center">
            <ul>
               <li>
                  <a href="http://www.russellbedfordcr.com/nosotros/" class="link-circle" style="background-image: url(/media/fned3bki/istock-494497678.jpg);">
                  <span>Nosotros <i class="fa fa-angle-right"></i></span>
                  </a>
               </li>
               <li>
                  <a href="http://www.russellbedfordcr.com/internacional/" class="link-circle" style="background-image: url(/media/gejpf4f4/rbi_location.jpg);">
                  <span>Global <i class="fa fa-angle-right"></i></span>
                  </a>
               </li>
               <li>
                  <a href="http://www.russellbedfordcr.com/contacto/" class="link-circle" style="background-image: url(/media/2syeyznt/rbi_comms.jpg);">
                  <span>Contacto <i class="fa fa-angle-right"></i></span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>