@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@


<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Inicio | Consultores de negocio con Perspectiva Internacional</title>
      <meta name="keywords" content="" />
      <meta name="description" content="Inicio del Sitio de Russell Bedford Internacional, en Costa Rica, Consultores de negocio con Perspectiva Internacional." />
      <meta name="author" content="Russell Bedford Costa Rica" />
      <meta name="theme-color" content="#ffffff">
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      
      <link href="/css/style.css" rel="stylesheet" />
      <link href="/css/custom.css" rel="stylesheet" />
      <!-- 
         <link href="/css/rteContent.css?v=637471134393580304" rel="stylesheet" />
         -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <script src="https://maps.google.com/maps/api/js?key=AIzaSyAxWir97wwHN-brMyWH8uue6gFlXZ6YrRY"></script>
      
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
      <!-- Moment JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
      <!-- 
         <script src="/resources/js/infobox.js"></script>
         <script src="/resources/js/jquery.validate.min.js"></script>
         <script src="/resources/js/moment.js"></script>
         <script src="/resources/js/moment-timezone.js"></script>
         <script src="/resources/js/jstz.min.js"></script>
         <script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
         <script src="/scripts/jquery.unobtrusive-ajax.js"></script>
         <script src="https://use.fontawesome.com/7234dc0b06.js"></script>
         -->
   </head>
   <body>
       
       @Html.Partial("navbar")
       
       <div id="banner-cr">
        <div class="container">
            <div class="row">
                <div class="col-12 px-0 mx-0">
                    <div class="banner-content-cr">
    
                        <h1 class="animated fadeInDown">Explora el mundo ... </h1>
                            <div class="partners">
                                <span class="animated bounceInUp" style="animation-delay: 0.75s;">
                                    <div class="counter" data-count="700">0</div> <small> socios</small>
                                </span>
                            </div>
                            <div class="staff">
                                <span class="animated bounceInUp" style="animation-delay: 1s;">
                                    <div class="counter" data-count="6500">0</div><small> personal</small>
                                </span>
                            </div>
                            <div class="offices">
                                <span class="animated bounceInUp" style="animation-delay: 1.25s;">
                                    <div class="counter" data-count="350">0</div><small> oficinas</small>
                                </span>
                            </div>
                            <div class="countries">
                                <span class="animated bounceInUp" style="animation-delay: 1.5s;">
                                    <div class="counter" data-count="100">0</div><small> ciudades</small>
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <section class="main-content">
         <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
               <div class="col-lg-4">
                  <div class="intro-video primary-bck-cr">
                     <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4lM6LXDszjY" frameborder="0" allowfullscreen></iframe>
                     </div>
                     <h4>Miembro de Russell Bedford Internacional</h4>
                  </div>
               </div>
               <div class="col-lg-8 py-3">
                  <div class="intro-text">
                     <h1><span style="color: #001871;">Bienvenidos  </span></h1>
                     <p style="display: block;">Bienvenido a Russell Bedford Costa Rica, miembro de Russell Bedford International (RBI), red mundial de Firmas independientes de Contadores Públicos y Asesores de Negocios, posicionada a nivel mundial entre las 17* firmas más importantes de auditores, contadores y consultores de negocios.</p>
                     <p style="display: block;">Con nuestra experiencia y conocimiento del entorno de negocios local facilitamos a las empresas internacionales y nacionales el desarrollo de sus negocios en forma exitosa y segura.</p>
                     <h4 style="display: block; text-align: right;"><a rel="noopener noreferrer" href="https://www.russellbedford.com/latest/news/" target="_blank" title="Noticias Internacionales">Noticias Internacionales »</a></h4>
                     <h3>Con Russell Bedford Costa Rica, usted tendrá:</h3>
                     <ul>
                        <li>El respaldo de una red nacional e internacional de consultores con una amplia experiencia de negocios</li>
                        <li>Acceso a un amplio equipo de expertos con las habilidades necesarias y con la cobertura adecuada</li>
                        <li>Un trato personalizado, amable y con visión de largo plazo</li>
                        <li>Acceso a un especialista en el sector al que usted pertenece</li>
                     </ul>
                     <p><em><strong>  … lo llevamos a donde quiere llegar.</strong></em></p>
                     <p style="display: block;"><span class="pt10">*Ranking por ingresos totales de acuerdo a los boletines de enero 2016 y agosto de 2015, respectivamente. Publicado por el International Accounting Bulletin (IAB). Definición de Network de acuerdo a los parámetros del IFAC.</span></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="home-news">
                     <div class="row">
                        <div class="col-12">
                           <h2>
                              <a href="http://www.russellbedfordcr.com/noticias/" class="read-more"></a>
                           </h2>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="article">
                              <img src="/media/cr2ohxrj/istock-482676386.jpg" style="max-width: 300px; max-height: 180px;" />
                              <h5>
                                 <a href="http://www.russellbedfordcr.com/noticias/precios-de-transferencia/">Precios de Transferencia</a><br />
                                 <small>marzo 2017</small>
                              </h5>
                              <p>
                                 Russell Bedford Costa Rica, con un equipo de profesionales en la materia, brinda los servicios de asesoramiento y consultor&#237;as para Estudios de Precios de Transferencia. Vea m&#225;s informaci&#243;n aqu&#237;
                              </p>
                              <a href="http://www.russellbedfordcr.com/noticias/precios-de-transferencia/" class="find-out-more"> <i class="fa fa-angle-right"></i></a>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="article">
                              <img src="/media/bhjhbk5n/istock-582272480.jpg" style="max-width: 300px; max-height: 180px;" />
                              <h5>
                                 <a href="http://www.russellbedfordcr.com/noticias/boletines-informativos/">Boletines Informativos</a><br />
                                 <small>febrero 2017</small>
                              </h5>
                              <p>
                                 Consulta nuestros Boletines Informativos con las principales noticias econ&#243;micas y de temas de inter&#233;s nacional e internacional. Boletines Informativos Russell Bedford Costa Rica: Bolet&#237;n Junio 2016 Bolet&#237;n Julio 2016 Bolet&#237;n…
                              </p>
                              <a href="http://www.russellbedfordcr.com/noticias/boletines-informativos/" class="find-out-more"> <i class="fa fa-angle-right"></i></a>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="article">
                              <img src="/media/bqophy0j/rbi_teamwork.jpg" style="max-width: 300px; max-height: 180px;" />
                              <h5>
                                 <a href="http://www.russellbedfordcr.com/noticias/legal/">Legal</a><br />
                                 <small>enero 2017</small>
                              </h5>
                              <p>
                                 En Russell Bedford contamos con un &#225;rea legal corporativa que brinda un adecuado apoyo a las organizaciones, sin importar su complejidad. Brindamos consultor&#237;a legal, adem&#225;s de la elaboraci&#243;n de los…
                              </p>
                              <a href="http://www.russellbedfordcr.com/noticias/legal/" class="find-out-more"> <i class="fa fa-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <p><small>
                     Russell Bedford Costa Rica está registrada en San Jose, Costa Rica. Russell Bedford Costa Rica es miembro de Russell Bedford International,
                     una red global de firmas de servicios profesionales independientes, y utiliza el nombre Russell Bedford bajo licencia. “Russell Bedford” y
                     “Russell Bedford International” son marcas comerciales registradas. Todos los servicios son proporcionados de forma independiente por firmas
                     miembro de Russell Bedford International, y cada miembro es el único responsable de su trabajo en nombre de los clientes.</small>
                  </p>
               </div>
            </div>
         </div>
      </section>
      <script type="text/javascript">
         $(function () {
         
             $('.counter').each(function () {
                 var $this = $(this),
                     countTo = $this.attr('data-count');
                 $({ countNum: $this.text() }).animate({
                     countNum: countTo
                 },
         
                     {
                         duration: 4000,
                         easing: 'linear',
                         step: function () {
                             $this.text(Math.floor(this.countNum));
                         },
                         complete: function () {
                             $this.text(this.countNum);
                         }
         
                     });
         
             });
         });
      </script>
      @Html.Partial("subFooter")
      @Html.Partial("footer")
      <script>
         var updateTimezone = function(item) {
             var timezone = $(item).data('val');
             localStorage.setItem("Timezone", timezone);
         }
         
         $(function() {
         
         
             var makeClock = function() {
                 var clock = moment().tz('America/Costa_Rica').format('HH:mm:ss');
                 if (localStorage.getItem("Timezone")) {
                     return moment().tz(localStorage.getItem("Timezone")).format('HH:mm:ss');
                 }
         
                 return clock;
             }
         
             setInterval(function() {
                     var clock = $('#clock');
                     clock.text(makeClock());
                 },
                 1000);
         
         
             $('.search').click(function(e) {
                 e.preventDefault();
                 $('.search-overlay').fadeIn();
                 $('.search-overlay input').focus();
             });
         
         
             // Set the search behaviour on the search button
             $('#btnSearch').click(function(e) {
                 e.preventDefault();
                 testClick();
             });
         
         
             function testClick() {
                 if ($('#searchText').val() != '') {
                     $("#btnSearch").html('...');
                     window.parent.location = "http://www.russellbedfordcr.com/search/" + "?s=" + $('#searchText').val();
                 } else {
                     $('.search-overlay').fadeOut();
                     //return false;
                 }
             }
         
             $('#searchText').keypress(function(e) {
                 var key = e.which;
                 if (key == 13) // the enter key code
                 {
                     $('#btnSearch').click();
                     return false;
                 }
             });
             // Set the search behaviour on the overlay
             $(".search-overlay").not($('#searchText')).click(function(e) {
                 if ($(e.target).is('.search-overlay')) {
                     $('.search-overlay').fadeOut();
                 }
             });
         
         });
         
      </script>
   </body>
</html>